PORT=
NODE_ENV=

MONGO_URI=

JWT_SECRET=
JWT_EXPIRES_IN=

NIBSS_BASE_URL=
NIBSS_API_KEY=
NIBSS_API_SECRET=
NIBSS_CLIENT_ID=
NIBSS_CLIENT_SECRET=
NIBSS_NAME_ENQUIRY_PATH=
NIBSS_TRANSFER_PATH=
NIBSS_TRANSACTION_STATUS_PATH=
NIBSS_ACCOUNTS_PATH=
NIBSS_BALANCE_PATH=